<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css" />
  <title>Tech Blog</title>
</head>

<body>
  <div class="flex-column justify-space-around"></div>
  <header>
    <h1>Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedin}}
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
      {{{body}}}
  </main>
  {{#if loggedin}}
  <script src="/js/logout.js"></script>
  {{/if}}
    </div>
</body>

</html>