<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date created_date}}</p>
  <p>
    <span>{{body}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Comment</button>
  </p>
</div>
